<!DOCTYPE html>
<html>
<head>
    <link href="/static/curl_monitor/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    {% block your_css %}{% endblock %}
    <title>内网curl监控</title>
</head>
<body>
<div class="container-fluid">
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="">内网curl监控</a>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
</div>
<script src="/static/js/jquery-1.9.1.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
{% block your_script %}{% endblock %}
</body>
</html>
