{% extends "curl_monitor/basic.html" %}

{% block your_css %}
    <link href="/static/curl_monitor/style.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <button type="button" class="btn btn-primary" id="add-monitor-item">添加监控项</button>
    <table class="table table-bordered table-hover">
        <thead>
        <th>id</th>
        <th>URL</th>
        <th>ip列表</th>
        <th>关注人</th>
        <th>告警间隔</th>
        <th>错误数目</th>
        <th>最新状态</th>
        <th>是否监控</th>
        <th>操作</th>
        </thead>
        <tbody>
        {% for monitor_item in monitor_list %}
            <tr>
                <td class="id">{{ monitor_item.id }}</td>
                <td class="url">{{ monitor_item.url }}</td>
                <td class="ip_list">
                    {% for ip in monitor_item.ip_list %}
                        {{ ip }}<br />
                    {% endfor %}
                </td>
                <td class="person_list">
                    {% for person in monitor_item.persons_to_alert %}
                        {{ person }}<br />
                    {% endfor %}
                </td>
                <td class="alert_interval">{{ monitor_item.alert_interval }}</td>
                <td class="error_count">{{ monitor_item.error_count }}</td>
                <td class="last_status">
                    {% for status in monitor_item.last_status %}
                        {{ status }}<br />
                    {% endfor %}
                </td>
                <td class="monitor_or_not">{{ monitor_item.monitor_or_not }}</td>
                <td>
                    <button type="button" class="btn btn-primary modify_monitor_item">修改</button>
                    <button type="button" class="btn btn-warning del_monitor_item">删除</button>
                    <button type="button" class="btn btn-info" onClick="javascript:location.href='/curl/view_log_list?id={{ monitor_item.id }}'">查看日志</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="modal-add-monitor-item" class="modal hide fade" tabindex="-1"
         data-width="1000">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">×
            </button>
            <h3>添加监控项</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span6">
                    <form class="form-horizontal">
                        <span id="csrf-token">{{ csrf_token }}</span>

                        <div class="control-group">
                            <label class="control-label" for="url-to-monitor">URL：</label>

                            <div class="controls">
                                <input type="text" class="input-large" id="url-to-monitor" name="url-to-monitor"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="ip-list">ip列表</label>

                            <div class="controls" id="ip-list">
                                <div class="ip-item">
                                    <input type="text" class="input-large ip"/>
                                    <i class="icon-plus-sign"></i>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="persons-to-alert">关注人</label>
                            <div class="controls" id="persons-to-alert">
                                <div class="person-item">
                                    <input type="text" class="input-large person" placeholder="填RTX或手机号" />
                                    <i class="icon-plus-sign"></i>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="alert-interval">告警间隔</label>
                            <div class="controls">
                                <input type="number" class="input-large" id="alert-interval" name="alert-interval" maxlength="20" min="1" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="monitor-or-not">是否监控：</label>

                            <div class="controls">
                                <select id="monitor-or-not">
                                    <option value=1>是</option>
                                    <option value=0>否</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn">取消</button>
            <button type="button" class="btn btn-danger" id="sure-to-add">提交</button>
        </div>
    </div>
    <div id="modal-modify-monitor-item" class="modal hide fade" tabindex="-1"
         data-width="1000">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">×
            </button>
            <h3>修改监控项</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span6">
                    <form class="form-horizontal">
                        <span id="csrf_token">{{ csrf_token }}</span>
                        <span id="monitor_id_modify"></span>

                        <div class="control-group">
                            <label class="control-label" for="url_to_monitor">URL：</label>

                            <div class="controls">
                                <input type="text" class="input-large" id="url_to_monitor" name="url_to_monitor"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="ip_list">ip列表</label>

                            <div class="controls" id="ip_list">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="persons_to_alert">关注人</label>
                            <div class="controls" id="persons_to_alert">

                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="alert_interval">告警间隔</label>
                            <div class="controls">
                                <input type="number" class="input-large" id="alert_interval" name="alert-interval" maxlength="20" min="1" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="monitor_or_not">是否监控：</label>

                            <div class="controls">
                                <select id="monitor_or_not">
                                    <option value=1>是</option>
                                    <option value=0>否</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn">取消</button>
            <button type="button" class="btn btn-danger" id="submit-change">提交</button>
        </div>
    </div>
{% endblock %}

{% block your_script %}
    <script src="/static/curl_monitor/main.js"></script>
{% endblock %}