{% extends "base.html" %}
{% block title %}独立脚本调用{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $("#independent_script").addClass("active");
    </script>
{% endblock %}
{% block content %}
    <div class="container-fluid offset2">

        <div class="container-fluid">

            <form class="form-horizontal" action="" method="post">
                {% csrf_token %}
                <table id="distribution" class="table table-striped table-hover table-bordered">
                    <tr>
                        <th> <label for="id_script">脚本路径: <span class='label label-important'>在此拼接后的路径对应的脚本会被直接执行！</span> </label></th>
                        <td>
                            <div class="input-prepend">
                                <span class="add-on">/cygdrive/e/Publish/tools/</span>
                                <input id="id_script" maxlength="500" name="script" type="text" class='span4'/>
                            </div>
                        </td>
                    </tr>
                    {% if error %}
                        <tr>
                            <td colspan="2">
                                <div class="alert alert-error">{{ error }}</div>
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td colspan="2">
                            <input class="btn btn-primary span2" type="submit" value="提交">
                            <a class="btn" href="javascript:history.back()">返回</a>
                        </td>
                    </tr>
                </table>
            </form>
    	</div>
    </div>
{% endblock %}